app-button > button {
    border: none;
    border-radius: 8px;
    background-color: var(--wb-magenta);

    font-size: 16px;
    font-weight: 700;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

app-button > button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}